<div class="container">
  <h1> Modifica {{movie.title}} </h1>

  <form name="editform" novalidate id="editform" #editform="ngForm" (ngSubmit)="update()">
    <div class="row">
      <div class="col-6">
        <label for="title"></label>
        <input type="text" id="title" #title="ngModel" class="form-control" name="title" [(ngModel)]="mymovie.title"
          required>
        <div class="alert alert-danger" [hidden]="title.valid"> Titolo richiesto </div>
      </div>
      <div class="col-6">
        <label for="image"></label>
        <input type="text" id="image" #image="ngModel" class="form-control" name="image" [(ngModel)]="mymovie.image"
          required>
        <div class="alert alert-danger" [hidden]="image.valid"> Percorso immagine richiesto </div>
      </div>
      <div class="col-6">
        <label for="cast"></label>
        <input type="text" id="cast" #cast="ngModel" class="form-control" name="cast" [(ngModel)]="mymovie.cast"
          required>
        <div class="alert alert-danger" [hidden]="cast.valid"> Cast richiesto </div>
      </div>
      <div class="col-6">
        <label for="plot"></label>
        <input type="text" id="plot" #plot="ngModel" class="form-control" name="plot" [(ngModel)]="mymovie.plot"
          required>
        <div class="alert alert-danger" [hidden]="plot.valid"> Plot richiesto </div>
      </div>
    </div>

    <button type="submit" class="btn-grad m-4" [disabled]="editform.invalid">Save</button>
    <button type="submit" class="btn-grad m-4" (click)="resetMovie()">Reset</button>

  </form>



  <!-- <pre>{{mymovie | json}}</pre>
  <pre>{{movie | json}}</pre> -->

</div>





<!--
  title
  image
  plot
  cast
-->
