<div class="card m-3" style="max-width: 1080px; height: 500px; background: radial-gradient(circle, rgba(60,89,236,1) 0%, rgba(0,1,17,1) 100%);
color: rgb(142, 203, 254);">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{movie.image}}" alt="..." style="width: 300px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <h6 class="card-text">Trama:</h6>
        <p>{{movie.plot}}</p>
        <h6 class="card-text">Cast:</h6>
        <p>{{movie.cast}}</p>
        <p class="card-text"><small>{{movie.categories}}</small></p>
      </div>
    </div>
  </div>
</div>
